@charset "UTF-8";
body {
  text-size-adjust: 100%;
  overflow-x: hidden;
  color: white;
  font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background: black;
}

.sidebar {
  width: 20%;
  background-color: black;
  height: 100%;
  position: fixed;
  right: 0;
}

.sidebar .side-contents {
  margin-left: 16%;
}

.sidebar .side-logo {
  width: 90px;
  margin: 25px 0px 55px;
}

.sidebar .side-menu li {
  list-style: none;
  padding-bottom: 25px;
  width: 70%;
}

.sidebar .side-menu li a {
  color: white;
  font-size: 14px;
  line-height: 27px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.sidebar .side-menu li a:hover {
  text-decoration: underline;
}

.sidebar .side-icon {
  width: 70%;
  margin-top: 45px;
}

.sidebar .side-icon a i {
  font-size: 23px;
  color: white;
}

.sidebar .side-icon a {
  display: inline-block;
  padding-right: 10px;
}

.sidebar .side-icon .fab:hover {
  opacity: 0.8;
}

#content {
  width: 80%;
}

#content .main-img img {
  max-width: 100%;
  height: auto;
}

#MESSAGE-content {
  width: 60%;
  margin: 0 auto 80px;
  text-align: center;
}

#MESSAGE-content h2 {
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  border-bottom: solid 3px white;
  padding: 80px 0 10px 0;
  margin-bottom: 50px;
  display: inline-block;
  color: white;
}

#MESSAGE-content p {
  font-size: 14px;
  line-height: 27px;
  text-align: left;
  color: white;
}

#GALLERY-content {
  overflow: hidden;
}

#GALLERY-content ul {
  list-style: none;
  line-height: 0px;
}

#GALLERY-content ul li {
  display: inline;
}

#GALLERY-content ul li img {
  width: calc(100%/3);
}

#GALLERY-content li.full {
  width: 100%;
  display: block;
}

#GALLERY-content li.full img {
  width: 100%;
}

#BRAND-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 55px;
  border-bottom: 1px solid white;
}

#BRAND-content h2 {
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  border-bottom: solid 3px white;
  padding: 80px 0 10px 0;
  margin-bottom: 50px;
  display: inline-block;
  color: white;
}

#BRAND-content .brand-wrapper {
  display: flex;
}

#BRAND-content .brand-wrapper-box {
  width: 25%;
  padding: 0 25px;
}

#BRAND-content .brand-wrapper-box img {
  width: 100%;
}

#BRAND-content .brand-wrapper-box p {
  text-align: left;
  font-size: 14px;
  line-height: 27px;
}

#PROJECT-content {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding-bottom: 45px;
}

#PROJECT-content h2 {
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  border-bottom: solid 3px white;
  padding: 80px 0 10px 0;
  margin-bottom: 50px;
  display: inline-block;
  color: white;
}

#PROJECT-content .project-item {
  margin-bottom: 80px;
}

#PROJECT-content .project-item img {
  float: left;
  width: 370px;
  height: 225px;
  margin: 5px 20px 20px;
}

#PROJECT-content p {
  text-align: left;
}

#COMPANY-content {
  width: 80%;
  text-align: center;
  margin: 0 auto 215px;
}

#COMPANY-content h2 {
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  border-bottom: solid 3px white;
  padding: 80px 0 10px 0;
  margin-bottom: 50px;
  display: inline-block;
  color: white;
}

#COMPANY-content p {
  width: 35%;
  text-align: left;
  margin-right: 5%;
}

#COMPANY-content .company-wrapper {
  display: flex;
}

#COMPANY-content .ggmap {
  width: 65%;
  position: relative;
  padding-bottom: 25%;
}

#COMPANY-content .ggmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 75px;
}

footer a {
  color: blue;
}

.nav-menu {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  z-index: 99;
  display: none;
}

.menu__line {
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform .3s;
  width: 100%;
}

.menu__line--center {
  top: 9px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu__line--top.active {
  top: 8px;
  transform: rotate(45deg);
}

.menu__line--center.active {
  transform: scaleX(0);
}

.menu__line--bottom.active {
  bottom: 10px;
  transform: rotate(135deg);
}

.gnav {
  background: #00b0a1;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.gnav__menu__item {
  margin: 40px 0;
}

.gnav__menu__item a {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  transition: .5s;
}

.gnav__menu__item a:hover {
  color: #666;
}

@media (max-width: 780px) {
  .sidebar {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}

@media (min-width: 780px) {
  .gnav {
    display: none;
  }
}
/*# sourceMappingURL=fashion-hp.css.map */