// $sp:780px;

// @mixin sp {
//   @media(max-width: ($sp)) {
//   @content;
// }
// }
@media(max-width:780px){
  .sidebar {
    display: none;
  }
  .nav-menu{
    display: block;
  }
}
@media(min-width:780px){
  .gnav{
    display: none !important;;
  }
}
